<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <!--Bu bilgileri kendinize göre düzenleyin-->
    <add name="MyDBConnectionString" connectionString="Data Source=yourSource;Initial Catalog=yourCatalog;Persist Security Info=True;User ID=yourId;Password=yourPass" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>